[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "public"]
	path = public
	url = https://github.com/EdwinYam/EdwinYam.github.io.git
	branch = master
[submodule "themes/hucore"]
	path = themes/hucore
	url = https://github.com/mgjohansen/hucore.git
	branch = master
[submodule "themes/hugo-theme-geppaku"]
	path = themes/hugo-theme-geppaku
	url = https://github.com/masa0221/hugo-theme-geppaku.git
	branch = master
[submodule "themes/hemingway2"]
	path = themes/hemingway2
	url = https://gitlab.com/beli3ver/hemingway2.git
	branch = master
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
	branch = master
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/hivickylai/hugo-theme-introduction.git
	branch = master
